<!-- templates/finish.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title >Finish Page!</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    {% load static %}
    <style>
        body{
            background: url('{% static "project/images/multiDogBG.png" %}');
            display: table-cell;
            vertical-align: middle;
            height: 100%;
        }
        html{
            display: table;
            margin:auto;
            height: 100%;
        }
    </style>

    <body>
        <div class="w3-container">
            <h2 style="color: red; font-family: Brush Script MT, Brush Script Std, cursive; text-align:center; font-weight:900;">
                CONGRATS ON FINISHING THE DOG PERSONALITY QUIZ PORTION! </h2>
                <h1 style="color: red; font-family: Brush Script MT, Brush Script Std, cursive; text-align:center; font-weight:900;">
                    HOWEVER, to get to the FINAL SCREEN, you must go back to the form page and find how to get back to the instructions page. 
                </h1> 
            <h2 style="color: red; font-family: Brush Script MT, Brush Script Std, cursive; text-align:center; font-weight:900;">
                You must get back to the instructions page to actually finish the form! 
                Click <a href="/form/" style="color:red;">here</a> to get back to the form page.
                <!-- Your dog personality breed is: </br>
                the answer to the Question 12 on the form page :P -->
            </h2>
        </div>
    </body>
</html>