<!-- templates/about.html -->
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>FormPage!</title>
        <link rel="stylesheet" href="{% static "project/css/style.css" %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>

    <style>
        body{
            height:100%;
        }
        nav{
            width: 25%;
            height: 100%;
            overflow:hidden;
        }
    </style>

    <body>
        <div class="wrapper">
            <div class="sidebar">
                <h2>Qs</h2>
                <ul>
                    <li class="Q1"><a href="#"><i class="fas fa-home"></i>Q1</a></li>
                    <li class="Q2" hidden><a href="#"><i class="fas fa-user"></i>Q2</a></li>
                    <li class="Q3" hidden><a href="#"><i class="fas fa-address-card"></i>Q3</a></li>
                    <li class="Q4" hidden><a href="#"><i class="fas fa-project-diagram"></i>Q4</a></li>
                    <li class="Q5" hidden><a href="#"><i class="fas fa-blog"></i>Q5</a></li>
                    <li class="Q6" hidden><a href="#"><i class="fas fa-address-book"></i>Q6</a></li>
                    <li class="Q7" hidden><a href="#"><i class="fas fa-map-pin"></i>Q7</a></li>
                    <li class="Q8" hidden><a href="#"><i class="fas fa-map-pin"></i>Q9</a></li>
                    <li class="Q9" hidden><a href="#"><i class="fas fa-map-pin"></i>Q9</a></li>
                    <li class="Q10" hidden><a href="#"><i class="fas fa-map-pin"></i>Q10</a></li>
                    <li class="Q11" hidden><a href="#"><i class="fas fa-map-pin"></i>Q11</a></li>
                    <li class="..."><a href="#"><i class="fas fa-map-pin"></i>...?</a></li>
                </ul> 
                <div class="social_media">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="main_content">
                <div class="header">Fill out form to receive a dog personality!</div>  
                <div class="info">
                <div class="Q1_text">
                    <h2>Q1: What's your name?</h2>
                    <form>
                        <label>Name (first name followed by last name):</label>
                        <input type="text" id="name">
                    </form>
                </div>
                <div class="Q2_text">
                    <h2>Q3: What's your favorite color?</h2>
                    <form>
                        <label>Favorite color (in hex #):</label>
                        <input type="number" id="name">
                    </form>
                </div>
                <div class="Q3_text"></div>
                <div class="Q4_text"></div>
                <div class="Q5_text"></div>
                <div class="Q6_text"></div>
                <div class="Q7_text"></div>
                <div class="Q8_text"></div>
                <div class="Q9_text"></div>
                <div class="Q10_text"></div>
                <div class="Q11_text"></div>
              </div>
            </div>
        </div>
    </body>

    <script>
        
    </script>

</html>