<!-- templates/form.html -->
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>FormPage!</title>
        <link rel="stylesheet" href="{% static "project/css/style.css" %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </head>

    <style>
        body{
            height:100%;
        }
        nav{
            width: 25%;
            height: 100%;
            overflow:hidden;
        }
    </style>

    <body>
        <div class="wrapper">
            <div class="sidebar">
                <h2>Q#</h2>
                <ul class="nav">
                    <li id="Q1"><a href="#" onclick="onlyThisQ('Q1')"><i class="fas fa-home"></i>Q1</a></li>
                    <li id="Q2" hidden><a href="#" onclick="onlyThisQ('Q2')"><i class="fas fa-user"></i>Q2</a>
                        <ul>
                            <li><a href="#" onclick="validateForm('Q2','Q3')">Submit</a></li>
                        </ul>
                    </li>
                    <li id="Q3" hidden><a href="#" onclick="onlyThisQ('Q3')"><i class="fas fa-address-card"></i>Q3</a></li>
                    <li id="Q4" hidden><a href="#" onclick="onlyThisQ('Q4')"><i class="fas fa-project-diagram"></i>Q4</a></li>
                    <li id="Q5" hidden><a href="#" onclick="onlyThisQ('Q5')"><i class="fas fa-blog"></i>Q5</a></li>
                    <li id="Q6" hidden><a href="#" onclick="onlyThisQ('Q6')"><i class="fas fa-address-book"></i>Q6</a></li>
                    <li id="Q7" hidden><a href="#" onclick="onlyThisQ('Q7')"><i class="fas fa-map-pin"></i>Q7</a></li>
                    <li id="Q8" hidden><a href="#" onclick="onlyThisQ('Q8')"><i class="fas fa-map-pin"></i>Q8</a></li>
                    <li id="Q9" hidden><a href="#" onclick="onlyThisQ('Q9')"><i class="fas fa-map-pin"></i>Q9</a></li>
                    <li id="Q10" hidden><a href="#" onclick="onlyThisQ('Q10')"><i class="fas fa-map-pin"></i>Q10</a></li>
                    <li id="Q11" hidden><a href="#" onclick="onlyThisQ('Q11')"><i class="fas fa-map-pin"></i>Q11</a></li>
                    <li id="Q12" hidden><a href="#" onclick="onlyThisQ('Q12')"><i class="fas fa-map-pin"></i>Q12</a></li>
                    <li id="..."><a href="#"><i class="fas fa-map-pin"></i>...?</a>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Take Me Home</a>
                                <ul>
                                    <li><a href="#">Go back one page</a></li>
                                    <li><a href="#">Go to previous page</a></li>
                                    <li><a href='/index_copy/'>See Instructions</a></li>
                                </ul>
                            </li>
                            <li><a href="#">What's going on?</a></li>
                            <li><a href="#">Instructions?</a></li>
                        </ul>
                    </li>
                </ul> 
            </div>
            <div class="main_content">
                <div class="header">Fill out form to receive a dog personality! You can go back to instructions page by going through navigation bar</div>  
                <div class="info">
                <div class = "question" id="Q1_text">
                    <h2>Q1: What's your name?</h2>
                    <form id="form1">
                        <label>Name (first name followed by last name):</label>
                        <input type="text" id="Q1_answer">
                    </form>
                    <button onclick="validateForm('Q1','Q2')">Submit</button>
                </div>
                <div class = "question" id="Q2_text" style="position: fixed; bottom:0; width: 100%" hidden>
                    <h2>Q2: What type of home/living space do you have?</h2>
                    <form>
                        <input type="radio" name="choice" id="Q2_answer1" value="It's bigger than a clost, so I call it an apartment"> It's bigger than a clost, so I call it an apartment </br>                       
                        <input type="radio" name="choice" id="Q2_answer2" value='"Cozy" Home'> "Cozy" Home </br>
                        <input type="radio" name="choice" id="Q2_answer3" value="Large House">Large House </br>
                        <input type="radio" name="choice" id="Q2_answer4" value="Don't have one">Don't have one</br>
                    </form>
                    <button onclick="validateForm('Q2','Q3')">Submit</button>
                </div>
                <div class = "question" id="Q3_text" style="text-align: right;" hidden>
                    <h2>Q3: What's your favorite color?</h2>
                    <form>
                        <label>Favorite color (in hex #):</label>
                        <input type="number" id="Q3_answer" required/>
                    </form>
                    <button onclick="validateForm('Q3','Q4')">Submit</button>
                </div>
                <div class = "question" id="Q4_text" hidden>
                    <h2>Q4: You're out with friends and a stranger approaches
                        to say hello. How do you greet them?
                    </h2>
                    <form>
                        <input type="radio" name="choice" id="Q4_answer1" value="With a big hug! It's nice to meet new people">With a big hug! It's nice to meet new people</br> 
                        <input type="radio" name="choice" id="Q4_answer2" value="Tell them to go away, and then huddle with my crew">Tell them to go away, and then huddle with my crew</br> 
                        <input type="radio" name="choice" id="Q4_answer3" value="With lots of questions. I keep my guard up until I trust them">With lots of questions. I keep my guard up until I trust them</br>
                        <input type="radio" name="choice" id="Q4_answer4" value="Stay friendly but not overbearing. I'm cool meeting others">Stay friendly but not overbearing. I'm cool meeting others</br>
                    </form>
                    <button onclick="validateForm('Q4','Q5')">Submit</button>
                </div>
                <div class = "question" id="Q5_text" style="text-align: right; position: fixed; bottom: 0;" hidden>
                    <h2>Q5: You're in a bad mood. What's got you down?</h2>
                    <form>
                        <input type="radio" name="choice" id="Q5_answer1" value="Boredom. I constantly have to be busy">Boredom. I constantly have to be busy</br> 
                        <input type="radio" name="choice" id="Q5_answer2" value="Creepy, intimidating strangers">Creepy, intimidating strangers</br> 
                        <input type="radio" name="choice" id="Q5_answer3" value="My friends being too busy for fun">My friends being too busy for fun</br>
                        <input type="radio" name="choice" id="Q5_answer4" value="Loved ones having problems I can't solve">Loved ones having problems I can't solve</br>
                    </form>
                    <button onclick="validateForm('Q5','Q6')">Submit</button>
                </div>
                <div class = "question" id="Q6_text" hidden>
                    <div class="myDIV">
                        <h2 onclick="validateForm('Q6','Q7')">Q6: We are creatures of our environments! Choose your natural habitat:</h2>
                    </div>
                    <div class="hide">Click on question prompt in order to submit!</div>
                    <!-- <button class="hide" onclick="nextQuestion('Q6','Q7')">Submit</button>                     -->
                    <form>
                        <input type="radio" name="choice" id="Q6_answer1" value="city">city</br> 
                        <input type="radio" name="choice" id="Q6_answer2" value="country">country</br> 
                    </form>
                </div>
                <div class = "question" id="Q7_text" hidden>
                    <h2>Q7: Some of us are born for our roles. What's your dream career?</h2>
                    <form>
                        <input type="radio" name="choice" id="Q7_answer1" value="Police. Bringing justice to the world!">Police. Bringing justice to the world!</br>
                        <input type="radio" name="choice" id="Q7_answer2" value="Military. To defend the homeland!">Military. To defend the homeland!</br>
                        <input type="radio" name="choice" id="Q7_answer3" value="Political activist. Move forward!">Political activist. Move forward!</br>
                        <input type="radio" name="choice" id="Q7_answer4" value="Graphic designer. The world is my canvass.">Graphic designer. The world is my canvass.</br>
                        <input type="radio" name="choice" id="Q7_answer5" value="Lifeguard. The beach is mine.">Lifeguard. The beach is mine.</br>
                        <input type="radio" name="choice" id="Q7_answer6" value="Firefighter. Got to save the day!">Firefighter. Got to save the day!</br>
                    </form>
                    <button onclick="validateForm('Q7','Q8')">Submit</button>
                </div>
                <div class = "question" id="Q8_text" style="width:800px; margin:0 auto;" hidden>
                    <h2>Q8: It's important to stay in shape! Which activity sounds like the most fun?</h2>
                    <form>
                        <input type="radio" name="choice" id="Q8_answer1" value="Frisbee">Frisbee</br>
                        <input type="radio" name="choice" id="Q8_answer2" value="Skiing">Skiing</br> 
                        <input type="radio" name="choice" id="Q8_answer3" value="Crossfit">Crossfit</br> 
                        <input type="radio" name="choice" id="Q8_answer4" value="Swimming">Swimming</br> 
                    </form>
                    <button onclick="validateForm('Q8','Q9')">Submit</button>
                </div>
                <div class = "question" id="Q9_text" hidden>
                    <!-- go back to question 8 if they don't have the code -->
                    <h2>Q9: Your main goal in life is to have a...</h2>
                    <form>
                        <input type="radio" name="choice" id="Q9_answer1" value="Strong career">Strong career</br> 
                        <input type="radio" name="choice" id="Q9_answer2" value="Loving family">Loving family</br> 
                        <input type="radio" name="choice" id="Q9_answer3" value="Fulfilling and fun time on Earth">Fulfilling and fun time on Earth</br> 
                        <input type="radio" name="choice" id="Q9_answer4" value="Chic sense of style">Chic sense of style</br> 
                    </form>
                    <button onclick="validateForm('Q9','Q10')">Submit</button>
                </div>
                <div class = "question" id="Q10_text" style="text-align: right; position: fixed; bottom: 0; right:0;" hidden>
                    <h2>Q10: How important is snuggling to you?</h2>
                    <form>
                        <input type="radio" name="choice" id="Q10_answer1" value="seriously important">seriously important</br> 
                        <input type="radio" name="choice" id="Q10_answer2" value="no clinging, please">no clinging, please</br> 
                        <input type="radio" name="choice" id="Q10_answer3" value="important">important</br> 
                        <input type="radio" name="choice" id="Q10_answer4" value="very important">very important</br> 
                        <input type="radio" name="choice" id="Q10_answer5" value="occasional snuggling welcome">occasional snuggling welcome</br> 
                    </form>
                    <button onclick="validateForm('Q10','Q11')">Submit</button>
                </div>
                <div class = "question" id="Q11_text" hidden>
                    <h2>Q11: What's the number I told you to remember?</h2>
                    <p>Checkout the Q8 dialog box if you are unsure.</p>
                    <form id="breed">
                        <input type="text" name="check_value" id="Q11_answer" required/>
                    </form>
                    <button onclick="validateForm('Q11','Q12')"> Submit</button>
                </div>
                <div class = "question" id="Q12_text" hidden>
                    <h2>Q12: Which of the following breeds do you like?</h2>
                    <form id="breed">
                        <input type="radio" name="choice" id = "Q12_answer1" value="golden retriever">golden retriever</br>
                        <input type="radio" name="choice" id = "Q12_answer2" value="german shepard">german shepard</br> 
                        <input type="radio" name="choice" id = "Q12_answer3" value="poodle">poodle</br> 
                        <input type="radio" name="choice" id = "Q12_answer4" value="beagle">beagle</br> 
                        <input type="radio" name="choice" id = "Q12_answer5" value ="siberian husky">siberian husky</br> 
                    </form>
                    <button onclick="validateForm('Q12', 'animal')"> <a href="/finish/">Submit</a></button>
                </div>
              </div>
            </div>
        </div>
    </body>

    <script>
        function nextQuestion(prevNum, qNum){
            console.log("checking");
            if (prevNum == "Q8"){
                window.alert("remember number: 8066281165");
                // document.getElementById(prevNum).setAttribute("hidden", true);
                document.getElementById(prevNum+"_text").setAttribute("hidden", true);
                document.getElementById(qNum).removeAttribute("hidden");
                document.getElementById(qNum+"_text").removeAttribute("hidden");
            }
            else{
                window.alert("submitted answer");
                // document.getElementById(prevNum).setAttribute("hidden", true);
                document.getElementById(prevNum+"_text").setAttribute("hidden", true);
                document.getElementById(qNum).removeAttribute("hidden");
                document.getElementById(qNum+"_text").removeAttribute("hidden");
            }
        }

        function nextPage(breed){
            console.log(document.getElementById("breed"));
        }

        function makeDialogBoxes(){
            window.alert("Want to revisit this question answer? Not an option :) ");
        }

        function onlyThisQ(qNum){
            console.log("reached");
            for (i=1; i<13; i++){
                document.getElementById('Q'+i+"_text").setAttribute("hidden", true);
            }
            document.getElementById(qNum).removeAttribute("hidden");
            document.getElementById(qNum+"_text").removeAttribute("hidden");
        }

        function validateForm(prevNum, qNum){
            if (prevNum == 'Q1'){
                if (document.getElementById(prevNum+"_answer").value != ""){;
                    nextQuestion('Q1','Q2');
                }
            }
            if (prevNum == 'Q2'){
                console.log(prevNum);
                console.log(document.getElementById(prevNum+"_answer"));
                if (document.getElementById(prevNum + "_answer1").checked || document.getElementById(prevNum + "_answer2").checked
                || document.getElementById(prevNum + "_answer3").checked || document.getElementById(prevNum + "_answer4").checked){
                    nextQuestion('Q2','Q3');
                }
            }

            if (prevNum == 'Q3'){
                console.log(document.getElementById(prevNum+"_answer").value);
                if (document.getElementById(prevNum+"_answer").value.length == 4){;
                    nextQuestion('Q3','Q4');
                }
            }

            if (prevNum == 'Q4'){
                if (document.getElementById(prevNum + "_answer1").checked || document.getElementById(prevNum + "_answer2").checked
                || document.getElementById(prevNum + "_answer3").checked || document.getElementById(prevNum + "_answer4").checked){;
                    nextQuestion('Q4','Q5');
                }
            }

            if (prevNum == 'Q5'){
                if (document.getElementById(prevNum + "_answer1").checked || document.getElementById(prevNum + "_answer2").checked
                || document.getElementById(prevNum + "_answer3").checked || document.getElementById(prevNum + "_answer4").checked){
                    nextQuestion('Q5','Q6');
                }
            }

            if (prevNum == 'Q6'){
                if (document.getElementById(prevNum + "_answer1").checked || document.getElementById(prevNum + "_answer2").checked){
                    nextQuestion('Q6','Q7');
                }
            }

            if (prevNum == 'Q7'){
                if (document.getElementById(prevNum + "_answer1").checked || document.getElementById(prevNum + "_answer2").checked
                || document.getElementById(prevNum + "_answer3").checked || document.getElementById(prevNum + "_answer4").checked
                || document.getElementById(prevNum + "_answer5").checked || document.getElementById(prevNum + "_answer6").checked){
                    nextQuestion('Q7','Q8');
                }
            }

            if (prevNum == 'Q8'){
                if (document.getElementById(prevNum + "_answer1").checked || document.getElementById(prevNum + "_answer2").checked
                || document.getElementById(prevNum + "_answer3").checked || document.getElementById(prevNum + "_answer4").checked){
                    nextQuestion('Q8','Q9');
                }
            }

            if (prevNum == 'Q9'){
                if (document.getElementById(prevNum + "_answer1").checked || document.getElementById(prevNum + "_answer2").checked
                || document.getElementById(prevNum + "_answer3").checked || document.getElementById(prevNum + "_answer4").checked){
                    nextQuestion('Q9','Q10');
                }
            }

            if (prevNum == 'Q10'){
                if (document.getElementById(prevNum + "_answer1").checked || document.getElementById(prevNum + "_answer2").checked
                || document.getElementById(prevNum + "_answer3").checked || document.getElementById(prevNum + "_answer4").checked
                || document.getElementById(prevNum + "_answer5").checked){
                    nextQuestion('Q10','Q11');
                }
            }

            if (prevNum == 'Q11'){
                if (document.getElementById(prevNum+"_answer").value == 8066281165){;
                    nextQuestion('Q11','Q12');
                }
            }

            if (prevNum=="Q12"){
                if (document.getElementById(prevNum + "_answer1").checked || document.getElementById(prevNum + "_answer2").checked
                || document.getElementById(prevNum + "_answer3").checked || document.getElementById(prevNum + "_answer4").checked
                || document.getElementById(prevNum + "_answer5").checked){
                    nextPage('animal');
                }
            }
            

        }
    </script>

</html>