<!-- templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title >Splash page!</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    {% load static %}
    <style>
        body{
            background: url('{% static "project/images/samoyedBG.jpg" %}');
            display: table-cell;
            vertical-align: middle;
            height: 100%;
        }
        html{
            display: table;
            margin:auto;
            height: 100%;
        }
        button{
            background-color: #4CAF50;
        }
    </style>

    <body>
        <div class="w3-container">
            <h1 style="color: red; font-family: Brush Script MT, Brush Script Std, cursive; text-align:right; font-weight:900;">
                DOG PERSONALITY TEST
            </h1>
            <div>
                <p style="color:rgb(0, 38, 255); font-family: Brush Script MT, Brush Script Std, cursive; text-align:right; font-weight:900;">
                    Welcome to the dog personality quiz! I welcome thee o exploring the world of dogs! 
                    Let's first talk about dogs and how they affect personality! Dogs are very much said to 
                    be like their owners so therefore, owners must be rather compatible with a particular type of
                    dog, right? So in order for you figure out where to go, you should really just click <a href='/form/' style="color:blue">go</a> 
                    to the next page. But, just as a precursor, I wanted to let you know that the next page where the form 
                    for this task has a bunch of questions. How many? I'm not quite sure, but you'll have to go through 
                    them to figure that out. I wish you the best of luck! All you need to do is get to the next page by clicking
                    the link on this page. Your task will be complete once you get to the last page that says what your dog breed is!
                </p>
            </div>

            <div class='col-xs-3' style="text-align:center;" >
                <button style='margin-right:25px' type="button" class="btn btn-success" onclick="location.href = 'https://www.youtube.com/watch?v=vLRyJ0dawjM&ab_channel=EDMBot'">Abrogate</button>
                <button style='margin-right:25px' type="button" class="btn btn-success">Acquiesce</button>
            </div>
            <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button><button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button type = "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
             <button onclick="location.href = '/finishreal/'" type= "submit" name = "learn" value = "myimage" style="background-color: transparent;background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;">
                <img src="{% static "project/images/samoyedBG.jpg" %}" style="width:25px;"/>
             </button>
        </div>
    </body>
</html>